<div class="container">

	<!-- Intro -->
	<div fxLayout="row">
		<div class="text-center" fxLayout="column" fxFlex="60%" fxFlexOffset="20%">
			<span class="error-text">
				The next song will be chosen by Beartracks.<br />
				Start a new mix below, or just keep listening
			</span>
		</div>
	</div>

	<!-- Config -->
	<div fxLayout="row" style="margin-top: 16px; text-align: left;">
		<div fxLayout="column" fxFlex="60%" fxFlexOffset="20%">

			<!-- Genre -->
			<md-select class="radio-container" placeholder="Genre" [(ngModel)]="setGenre">
				<md-option *ngFor="let genre of genres" [value]="genre.name">
					{{genre.name}}
				</md-option>
			</md-select>

			<!-- Degree -->
			<div class="radio-container">
				<div class="degree-slider">
					<md-slider min="0" max="5" step="1" value="0" tickInterval="1" (input)="onDegreeChange($event);">
					</md-slider>
				</div>
				<div class="degree-text">
					i'm feeling {{degreeString}}
				</div>
			</div>

			<!-- Start -->
			<button md-raised-button class="radio-container" (click)="startRadio()" [disabled]="!this.genre">
				start
			</button>
		</div>
	</div>
</div>
