
<div id="JukeboxSearch">
	<md-input-container class="filter-box-top">
		<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
	</md-input-container>
</div>

<div id="SearchResults" *ngIf="filterQuery.length > 0">
	<div *ngIf="filterQuery.length < 3" style="text-align: center;">
		<md-icon class="error-icon">
			search
		</md-icon><br />
		<div class="error-text">
			Start your search by typing above
		</div>
	</div>

	<div *ngIf="filterQuery.length >= 3">
		<div *ngIf="tracksLoading">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>
		<div *ngIf="!tracksLoading">
			<div *ngIf="tracks.length > 0">
				<md-list>
					<md-list-item
						class="item-line"
						*ngFor="let track of tracks"
						(click)="jukeboxService.jukebox.enqueueOne(track)">
						<div md-line>
							<img src="{{track.album.imagePath}}" />
							<span class="item-text-single">
								{{track.name}}
							</span>
							<span class="item-text-single item-text-description">
								{{track.album.artist.name}}
							</span>
						</div>
					</md-list-item>
				</md-list>
			</div>
			<div *ngIf="tracks.length == 0" style="text-align: center;">
				<md-icon class="error-icon">
					not_interested
				</md-icon><br />
				<div class="error-text">
					No tracks found
				</div>
			</div>
		</div>
	</div>
</div>

<div id="JukeboxQueue" *ngIf="filterQuery.length == 0">
	Current queue
</div>


<div id="JukeboxChat">
	<div id="Messages" #chat>
		<div class="message-item"
			[ngClass]="{'message-item-system': message.system == 1}"
			*ngFor="let message of jukeboxService.messages">
			<div class="message-item-date">
				{{message.dateTime | date:'MMM dd hh:mm'}}
			</div>
			<div class="message-item-username">
				{{message.username}}
			</div>
			<div
				class="message-item-text"
				[ngClass]="{'greentext': message.text.startsWith('>')}">
				{{message.text}}
			</div>
		</div>
	</div>
	<div id="Send">
		<md-input-container style="margin-left: 8px; padding: 8px; box-sizing: border-box; width: 90%;">
			<input mdInput
				id="Message"
				[(ngModel)]="setMessage"
				(keyup.enter)="this.sendMessage()"
				type="text"
				maxlength="256"
				style="width: 100%" />
		</md-input-container>

		<button md-icon-button (click)="this.sendMessage()" style="width: 5%;">
			<md-icon>send</md-icon>
		</button>
	</div>
</div>
