<div fxLayout='row'>
	<div fxFlex='65%'>
		content
	</div>
	<div id="JukeboxChat" fxFlex='35%'>
		<div id="Messages" #chat>
			<div class="message-item" *ngFor="let message of messages">
				<div class="message-item-date">
					{{message.dateTime | date:'MMM dd hh:mm'}}
				</div>
				<div class="message-item-username">
					{{message.username}}
				</div>
				<div class="message-item-text">
					{{message.text}}
				</div>
			</div>
		</div>
		<div id="Send">
			<md-input-container style="margin-left: 5px; width: 92%;">
				<input mdInput
					id="Message"
					[(ngModel)]="setMessage"
					(keyup.enter)="this.sendMessage()"
					type="text"
					maxlength="256"
					style="width: 100%" />
			</md-input-container>

			<button md-icon-button (click)="this.sendMessage()">
				<md-icon>send</md-icon>
			</button>
		</div>
	</div>
</div>
