<div id="JukeboxSearch">
	<md-input-container class="filter-box-top">
		<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
	</md-input-container>
</div>

<div id="SearchResults" *ngIf="filterQuery.length > 0">
	<div *ngIf="filterQuery.length < 3" style="text-align: center;">
		<md-icon class="error-icon">
			search
		</md-icon><br />
		<div class="error-text">
			Start your search by typing above
		</div>
	</div>

	<div *ngIf="filterQuery.length >= 3">
		<div *ngIf="tracksLoading">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>
		<div *ngIf="!tracksLoading">
			<div *ngIf="tracks.length > 0">
				<md-list>
					<md-list-item
						class="item-line"
						*ngFor="let track of tracks"
						(click)="enqueue(track)">
						<div md-line>
							<img src="{{track.album.imagePath}}" />
							<span class="item-text-single">
								{{track.name}}
							</span>
							<span class="item-text-single item-text-description">
								{{track.album.artist.name}}
							</span>
						</div>
					</md-list-item>
				</md-list>
			</div>
			<div *ngIf="tracks.length == 0" style="text-align: center;">
				<md-icon class="error-icon">
					not_interested
				</md-icon><br />
				<div class="error-text">
					No tracks found
				</div>
			</div>
		</div>
	</div>
</div>

<div id="JukeboxQueue" *ngIf="filterQuery.length == 0">

	<!-- Now Playing -->
	<div *ngIf="jukeboxService.queue[0]">
		<img class="now-playing-art" src="{{jukeboxService.queue[0].album.imagePath}}" style="float: left;"/>

		<div class="now-playing">
			<h3 class="now-playing-field" style="color: rgba(255, 255, 255, 0.87);">
				{{jukeboxService.queue[0].name}}
			</h3>
			<em class="now-playing-field" style="color: rgba(255, 255, 255, 0.54);">
				<md-icon style="font-size: 14px; height: 18px; width: 18px;">
					album
				</md-icon>
				{{jukeboxService.queue[0].album.name}} ({{jukeboxService.queue[0].album.year}})
			</em><br />
			<span class="now-playing-field" style="color: rgba(255, 255, 255, 0.54);">
				<md-icon style="font-size: 14px; height: 18px; width: 18px;">
					person
				</md-icon>
				{{jukeboxService.queue[0].album.artist.name}}
			</span><br />
			<span class="now-playing-field" style="color: rgba(255, 255, 255, 0.36);">
				<md-icon style="font-size: 14px; height: 18px; width: 18px;">
					receipt
				</md-icon>
				<em>
					{{jukeboxService.queue[0].genre}}
				</em>
			</span>
		</div>

		<div style="width: 100%;">
			<div style="float: left; font-size: 46px;">
				<md-icon
					class="player-control player-play"
					*ngIf="jukeboxService.volume >= 0.8">
					volume_up
				</md-icon>
				<md-icon
					class="player-control player-play"
					*ngIf="jukeboxService.volume >= 0.4 && jukeboxService.volume < 0.8">
					volume_down
				</md-icon>
				<md-icon
					class="player-control player-play"
					*ngIf="jukeboxService.volume > 0 && jukeboxService.volume < 0.4">
					volume_mute
				</md-icon>
				<md-icon
					class="player-control player-play"
					*ngIf="jukeboxService.volume == 0">
					volume_off
				</md-icon>

				<!-- Volume -->
				<md-slider min="0" max="100" step="1" value="50" [(ngModel)]="volume" ></md-slider>
			</div>

			<div style="float: right;">
				<div class="now-playing-elapsed" style="margin-top: 24px;">
					{{jukeboxService.elapsed}} / {{jukeboxService.queue[0].lengthFormatted}}
				</div>
			</div>
		</div>

		<md-progress-bar
			class="now-playing-progress"
			[mode]="determinate"
			[value]="jukeboxService.elapsedPercent">
		</md-progress-bar>
	</div>

	<h3 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
		Up Next
	</h3>

	<!-- Queue -->
	<div class="queue-list" *ngIf="jukeboxService.displayQueue.length">
		<div class="queue-item" *ngFor="let track of jukeboxService.displayQueue; let i = index">
			<span class="queue-item-field">
				<span class="queue-item-field-text">
					{{i+1}}. {{track.album.artist.name}} - "{{ track.name }}"
				</span>
				<span style="float: right; padding-top: 1px; color: rgba(255, 255, 255, 0.34);">
					{{track.lengthFormatted}}
				</span>
			</span>
		</div>
	</div>
	<div class="queue-list" *ngIf="jukeboxService.displayQueue.length == 0" style="text-align: center;">
		<md-icon class="error-icon">
			queue_music
		</md-icon><br />
		<div class="error-text">
			No music queued
		</div>
	</div>
</div>


<div id="JukeboxChat">
	<div id="Messages" #chat>
		<div class="message-item"
			[ngClass]="{'message-item-system': message.system == 1}"
			*ngFor="let message of jukeboxService.messages">
			<div class="message-item-date">
				{{message.dateTime | date:'MMM dd hh:mm'}}
			</div>
			<div class="message-item-username">
				{{message.username}}
			</div>
			<div
				class="message-item-text"
				[ngClass]="{'greentext': message.text.startsWith('>')}">
				{{message.text}}
			</div>
		</div>
	</div>
	<div id="Send">
		<md-input-container style="margin-left: 8px; padding: 8px; box-sizing: border-box; width: 90%;">
			<input mdInput
				id="Message"
				[(ngModel)]="setMessage"
				(keyup.enter)="this.sendMessage()"
				type="text"
				maxlength="256"
				style="width: 100%" />
		</md-input-container>

		<button md-icon-button (click)="this.sendMessage()" style="width: 5%;">
			<md-icon>send</md-icon>
		</button>
	</div>
</div>
