<div fxLayout='row'>
	<div fxFlex="70%" fxFlexOffset="15%">
		<button md-icon-button style="width: 7%;">
			<md-icon>search</md-icon>
		</button>

		<md-input-container id="FilterTracks" class="filter-box-top">
			<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
		</md-input-container>
	</div>
</div>

<div fxLayout='row' *ngIf="!tracksLoaded">
	<div fxFlex="70%" fxFlexOffset="15%" style="text-align: center;">
		<md-spinner mode="indeterminate" style="display: inline-block;">
		</md-spinner>
		<div style="margin-top: 5px;">
			Loading tracks...
		</div>
	</div>
</div>

<div fxLayout='row' *ngIf="tracksLoaded">
	<div fxFlex="70%" fxFlexOffset="15%">
		<!-- <audio id="Player"></audio> -->

		<ul *ngIf="displayTracks.length > 0">
			<li class="track-list-item" *ngFor="let track of displayTracks" style="display: inline-block; width: 100%;">

				<div style="float: left; position: relative;">
					<md-icon class="play-button" (click)="playerService.player.playOne(track)">
						play_arrow
					</md-icon>
					<div style="float: right;">
						<img class="track-list-item-image" src="{{track.album.imagePath}}"/>
					</div>
				</div>

				<strong class="track-list-item-name">
					{{track.name}}
				</strong>
				<div class="track-list-item-sub">
					{{track.album.artist.name}} - <em>{{track.album.name}}</em> ({{track.album.year}})
				</div>
			</li>
		</ul>
	</div>
</div>

<div fxLayout='row' *ngIf="displayTracks.length == 0 && tracksLoaded">
	<div fxFlex="70%" fxFlexOffset="15%" style="text-align: center;">
		<div *ngIf="filterQuery.length >= 5">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No tracks found
			</div>
		</div>

		<div *ngIf="filterQuery.length < 5">
			<md-icon class="error-icon">
				search
			</md-icon><br />
			<div class="error-text">
				Type in the box to find tracks
			</div>
		</div>
	</div>
</div>
