<div fxLayout='row'>
	<div fxFlex="70" fxFlexOffset="15">
		<button md-icon-button style="width: 7%;">
			<md-icon>search</md-icon>
		</button>

		<md-input-container id="FilterTracks" style="width: 92%;">
			<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" />
		</md-input-container>

		<md-list>
			<md-list-item class="track-list-item" *ngFor="let track of displayTracks">
				<md-icon md-list-icon class="play-button">
					play_arrow
				</md-icon>

				<img src="{{track.album.imagePath}}" />

				<div style="float: right;">
					<strong md-line>
						{{track.name}}
					</strong>
					<div md-line>
						{{track.album.artist.name}}
					</div>
					<div md-line>
						<em>{{track.album.name}}</em>
					</div>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
