<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<title>Beartracks</title>
		<link rel="stylesheet" href="/stylesheets/material-dark.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/layout.css" />
		<link rel="stylesheet" href="/stylesheets/music.css" />
		<link rel="stylesheet" href="/stylesheets/typography.css" />
		<link rel="stylesheet" href="/stylesheets/lightbox.css">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	</head>
	<body>
		<my-app>
			<div style="height: 100%; width: 100%; padding: 0px; margin: 0px; display: table;">
				<div style="height: 100%; width: 100%; display: table-cell; text-align: center; vertical-align: middle;">
					Preparing Tracks...
				</div>
			</div>
		</my-app>
		<script src="/js/app/bundle.js"></script>
	</body>
</html>
