body, html {
	background-color: rgb(27, 27, 27);
	color: rgba(255, 255, 255, 0.87);
	font-family: Roboto,"Helvetica Neue",sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.mat-input-ripple {
	background-color: rgba(255, 255, 255, 0.87);
}

md-grid-tile {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.70;
	transition: .15s;
}

md-grid-tile:hover {
	cursor: pointer;
	opacity: 1.0;
}
