<div class="container" fxLayout='row'>

	<!-- New Albums -->
	<div class="item-column">
		<h3 class="sad-header">Recently-uploaded Albums</h3>

		<div *ngIf="loadingAlbums">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<md-list class="item-column-body" *ngIf="albums.length > 0">
			<md-list-item class="item-line-image" *ngFor="let album of albums">
				<span md-line class="item-body" (click)="playerService.playAlbum(album)">
					<img src="{{album.imagePath}}"/>
					<em class="item-title text-primary">
						{{album.name}}
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{album.artist.name}} &ndash; {{album.year}}
						</div>
					</div>
				</span>

				<!-- Menu -->
				<div class="item-menu" *ngIf="userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.playAlbum(album)">
							<md-icon>play_arrow</md-icon>
							<span>play album</span>
						</button>
						<button md-menu-item (click)="playerService.enqueueAlbum(album)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
						<button md-menu-item (click)="trackService.downloadAlbum(album)">
							<md-icon>file_download</md-icon>
							<span>download all tracks</span>
						</button>
					</md-menu>

					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>

				<div class="item-menu" *ngIf="!userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.playAlbum(album)">
							<md-icon>play_arrow</md-icon>
							<span>play album</span>
						</button>
						<button md-menu-item (click)="playerService.enqueueAlbum(album)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
					</md-menu>

					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>

			</md-list-item>
		</md-list>
	</div>

	<!-- Recently played -->
	<div class="item-column">
		<h3 class="sad-header">Recently-Played Tracks</h3>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="!loadingRecent">
			<md-list-item class="item-line-image" *ngFor="let track of recentTracks">
				<span md-line class="item-body" (click)="playerService.player.playOne(track)">
					<img src="{{track.album.imagePath}}"/>
					<em class="item-title text-primary">
						{{track.name}}
						<!-- <span class="text-divider" style="margin-left: 5px; font-style: normal;">
							&ndash; {{this.translateDate(track.updatedAt)}}
						</span> -->
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{track.album.artist.name}} &ndash; {{track.genre}}
							<span class="text-hint">
								&mdash; {{track.playCount}}
								play<ng-container *ngIf="track.playCount == 0 || track.playCount > 1">s</ng-container>
							</span>
						</div>
					</div>
				</span>

				<div class="item-menu" *ngIf="userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.player.playOne(track)">
							<md-icon>play_arrow</md-icon>
							<span>play</span>
						</button>
						<button md-menu-item (click)="playerService.player.enqueueOne(track)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(track.album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
						<button md-menu-item (click)="trackService.download(track)">
							<md-icon>file_download</md-icon>
							<span>download</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>

				<div class="item-menu" *ngIf="!userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.player.playOne(track)">
							<md-icon>play_arrow</md-icon>
							<span>play</span>
						</button>
						<button md-menu-item (click)="playerService.player.enqueueOne(track)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(track.album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>
			</md-list-item>
		</md-list>
	</div>

	<!-- Recommendations -->
	<div class="item-column">
		<h3 class="sad-header">
			Recently Recommended <md-icon class="tiny-icon">favorite</md-icon>
		</h3>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="!loadingRecent">
			<md-list-item class="item-line-image" *ngFor="let track of recommendedTracks">
				<span md-line class="item-body" (click)="playerService.player.playOne(track)">
					<img src="{{track.album.imagePath}}"/>
					<em class="item-title text-primary">
						{{track.name}}
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{track.album.artist.name}} &ndash; {{track.genre}}
							<span class="text-hint">
								&mdash; {{track.playCount}}
								play<ng-container *ngIf="track.playCount == 0 || track.playCount > 1">s</ng-container>
							</span>
						</div>
					</div>
				</span>

				<div class="item-menu" *ngIf="userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.player.playOne(track)">
							<md-icon>play_arrow</md-icon>
							<span>play</span>
						</button>
						<button md-menu-item (click)="playerService.player.enqueueOne(track)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(track.album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
						<button md-menu-item (click)="trackService.download(track)">
							<md-icon>file_download</md-icon>
							<span>download</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>

				<div class="item-menu" *ngIf="!userService.isLoggedIn()">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.player.playOne(track)">
							<md-icon>play_arrow</md-icon>
							<span>play</span>
						</button>
						<button md-menu-item (click)="playerService.player.enqueueOne(track)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
						<button md-menu-item (click)="playerService.openLightbox(track.album)">
							<md-icon>color_lens</md-icon>
							<span>view album art</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
