<div fxLayout='row'>
	<div fxFlex="40%" fxFlexOffset="10%">
		<h3 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			Recently Added
		</h3>

		<div *ngIf="loadingAlbums">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<md-list *ngIf="!loadingAlbums">
			<md-list-item
				class="item-line"
				*ngFor="let album of albums"
				(click)="playerService.enqueueAlbum(album)">
				<div md-line style="padding: 0px;">
					<img src="{{album.imagePath}}"/>
					<span class="item-text-single">
						{{album.name}}
					</span>
					<span class="item-text-single item-text-description">
						{{album.artist.name}}, {{album.year}}
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>

	<div fxFlex="40%">
		<h3 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			Recently Played
		</h3>

		<div *ngIf="loadingRecent">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<md-list *ngIf="!loadingRecent">
			<md-list-item
				class="item-line"
				*ngFor="let track of recentTracks"
				(click)="playerService.player.enqueueOne(track)">
				<div md-line style="padding: 0px;">
					<img src="{{track.album.imagePath}}"/>
					<span class="item-text-single">
						{{track.name}}

						<span style="color: rgba(255, 255, 255, 0.54); float: right;">
							<md-icon class="tiny-icon">
								confirmation_number
							</md-icon> {{track.playCount}}
						</span>
					</span>
					<span class="item-text-single item-text-description">
						{{track.album.artist.name}} &ndash; {{track.genre}}
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
