<div fxLayout='row'>
	<div fxFlex="80%" fxFlexOffset="10%">
		<h3 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			New Albums
		</h3>

		<div *ngIf="albumsLoading">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<md-list *ngIf="!albumsLoading">
			<md-list-item
				class="item-line"
				*ngFor="let album of albums"
				(click)="playerService.enqueueAlbum(album)">
				<div md-line style="padding: 0px;">
					<img src="{{album.imagePath}}"/>
					<span class="item-text-single">
						{{album.name}}
					</span>
					<span class="item-text-single item-text-description">
						{{album.artist.name}}, {{album.year}}
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
