<div id="Queue" *ngIf="playerService.player.currentTrack">
	<h3>Next</h3>
	<div
		class="queue-item"
		*ngFor="let track of playerService.player.queue; let i = index"
		[style.backgroundColor]="playerService.player.queuePosition == i ? 'rgba(0, 0, 0, 0.13)' : null">

		<span style="float: left">
			<md-icon
				class="player-control player-pause"
				*ngIf="playerService.player.queuePosition == i && !playerService.player.audio.paused"
				(click)="playerService.player.pause()"
				style="font-size: 20px;">
				pause
			</md-icon>
			<md-icon
				class="player-control player-play"
				*ngIf="playerService.player.audio.paused"
				(click)="playerService.player.playPosition(i)"
				style="font-size: 20px;">
				play_arrow
			</md-icon>
		</span>

		{{i+1}}. {{ track.name }}

	</div>
</div>

<div id="Player" *ngIf="playerService.player.currentTrack">
	<img class="now-playing-art" src="{{playerService.player.currentTrack.album.imagePath}}"/>

	<div class="now-playing" *ngIf="playerService.player.currentTrack">
		<h3>
			{{playerService.player.currentTrack.name}}
		</h3>
		<em style="color: rgba(255, 255, 255, 0.87);">
			{{playerService.player.currentTrack.album.name}} ({{playerService.player.currentTrack.album.year}})
		</em><br />
		<span style="color: rgba(255, 255, 255, 0.54);">
			{{playerService.player.currentTrack.album.artist.name}}
		</span><br />

		<!-- Toolbar -->
		<md-icon
			class="player-control player-pause"
			*ngIf="!playerService.player.audio.paused"
			(click)="playerService.player.pause()">
			pause
		</md-icon>
		<md-icon
			class="player-control player-play"
			*ngIf="playerService.player.audio.paused"
			(click)="playerService.player.resume()">
			play_arrow
		</md-icon>

	</div>

	<div class="now-playing-elapsed">
		{{playerService.player.elapsed}} / {{playerService.player.currentTrack.lengthFormatted}}
	</div>

	<md-progress-bar
		class="now-playing-progress"
		[mode]="determinate"
		[value]="playerService.player.elapsedPercent">
	</md-progress-bar>
</div>
