#Player
{
	background-color: rgb(40, 40, 40);
	bottom: 0px;
	box-sizing: border-box;
	left: 0px;
	min-height: 138px;
	max-height: 138px;
	padding: 16px;
	position: fixed;
	width: 100%;
}

#Player .now-playing
{
	display: block;
	line-height: 1.5em;
	margin-bottom: 5px;
	margin-right: 16px;
	max-height: 96px;
	min-height: 96px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#Player .now-playing-inner
{
	margin-bottom: 3px;
}

#Player .now-playing h3
{
	margin: 0px;
}

#Player .now-playing .now-playing-field
{
	overflow: hidden;
	text-overflow: ellipsis;
}

#Player img.now-playing-art
{
	border: 1px solid rgba(0, 0, 0, 0.54);
	float: left;
	height: 96px;
	margin-right: 8px;
	width: 96px;
}

#Player .now-playing-elapsed
{
	bottom: 24px;
	color:rgba(255, 255, 255, 0.54);
	float: right;
	margin-bottom: 5px;
	position: absolute;
	right: 16px;
}

.player-control
{
	color: rgba(255, 255, 255, 0.54);
	cursor: default;
}

.player-control:hover
{
	color: rgba(255, 255, 255, 0.87);
	cursor: pointer;
}

#Queue
{
	background-color: rgb(40, 40, 40);
	border-radius: 0px 5px 0px 0px;
	bottom: 138px;
	height: 50%;
	max-height: 50%;
	min-height: 50%;
	position: fixed;
	width: 50%;
}

#Queue h3
{
	color: rgba(255, 255, 255, 0.54);
	margin: 8px;
	text-transform: lowercase;
}

#Queue .queue-list
{
	padding: 8px;
	overflow-y: auto;
}

#Queue .queue-item
{
	overflow-x: hidden;
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#Queue .queue-item md-icon
{
	font-size: 19px;
	height: 19px;
	margin-right: 8px;
	width: 19px;
}

#Queue .queue-item .queue-item-field
{
	vertical-align: top;
}
