<div id="Queue"
	class="queue-closed"
	[ngClass]="{'queue-closed': playerService.player.queueOpen == false}"
	*ngIf="playerService.player.visible">

	<div style="display: block; box-sizing: border-box; height: 4%; min-height: 4%; max-height: 4%;">
		<h3 class="sad-header">
			Now Playing
			<button md-icon-button id="CloseQueue" (click)="playerService.player.closeQueue()">
				<md-icon>
					close
				</md-icon>
			</button>
		</h3>
	</div>

	<div id="PlayerLoading" class="text-center" *ngIf="playerService.player.isLoading">
		<div class="error-text">
			<md-progress-spinner mode="indeterminate" style="display: inline-block;">
			</md-progress-spinner>
		</div>
	</div>

	<!-- Player -->
	<div id="Player" *ngIf="!playerService.player.isLoading">
		<div *ngIf="playerService.player.currentTrack">
			<img class="now-playing-art" src="{{playerService.player.currentTrack.album.imagePath}}"
				(click)="playerService.openLightbox(playerService.player.currentTrack.album)"
				style="float: left;"/>

			<div
				class="now-playing"
				*ngIf="playerService.player.currentTrack">
				<h3 class="now-playing-field" style="color: rgba(255, 255, 255, 0.87);">
					{{playerService.player.currentTrack.name}}
				</h3>
				<em class="now-playing-field" style="color: rgba(255, 255, 255, 0.54);">
					<md-icon style="font-size: 14px; height: 18px; width: 18px;">
						album
					</md-icon>
					{{playerService.player.currentTrack.album.name}} ({{playerService.player.currentTrack.album.year}})
				</em><br />
				<span class="now-playing-field" style="color: rgba(255, 255, 255, 0.54);">
					<md-icon style="font-size: 14px; height: 18px; width: 18px;">
						person
					</md-icon>
					{{playerService.player.currentTrack.album.artist.name}}
				</span><br />
				<span class="now-playing-field" style="color: rgba(255, 255, 255, 0.36);">
					<md-icon style="font-size: 14px; height: 18px; width: 18px;">
						receipt
					</md-icon>
					<em>
						{{playerService.player.currentTrack.genre}}
					</em>
				</span>
			</div>

			<div style="width: 100%;">
				<div style="float: left; font-size: 46px;">
					<md-icon
						class="player-control player-pause"
						*ngIf="!playerService.player.audio.paused"
						(click)="playerService.player.pause()">
						pause
					</md-icon>
					<md-icon
						class="player-control player-play"
						*ngIf="playerService.player.audio.paused"
						(click)="playerService.player.resume()">
						play_arrow
					</md-icon>

					<!-- Skip -->
					<md-icon class="player-control"
						(click)="playerService.skipTrack()">
						<md-icon>skip_next</md-icon>
					</md-icon>

					<!-- Volume -->
					<md-icon
						class="player-control player-play"
						*ngIf="playerService.player.volume >= 0.8"
						(click)="playerService.player.mute()">
						volume_up
					</md-icon>
					<md-icon
						class="player-control player-play"
						*ngIf="playerService.player.volume >= 0.4 && playerService.player.volume < 0.8"
						(click)="playerService.player.mute()">
						volume_down
					</md-icon>
					<md-icon
						class="player-control player-play"
						*ngIf="playerService.player.volume > 0 && playerService.player.volume < 0.4"
						(click)="playerService.player.mute()">
						volume_mute
					</md-icon>
					<md-icon
						class="player-control player-play"
						*ngIf="playerService.player.volume == 0"
						(click)="playerService.player.unmute()">
						volume_off
					</md-icon>

					<!-- Volume -->
					<md-slider min="0.0" max="1.0" step="0.01" value="{{playerService.player.volume}}" tickInterval="50"
						(input)="onVolumeChange($event);">
					</md-slider>
				</div>

				<div style="float: right;">
					<div class="now-playing-elapsed" style="margin-top: 24px;">
						{{playerService.player.elapsed}} / {{playerService.player.currentTrack.lengthFormatted}}
					</div>
				</div>
			</div>

			<md-progress-bar
				class="now-playing-progress"
				[mode]="determinate"
				[value]="playerService.player.elapsedPercent">
			</md-progress-bar>
		</div>
		<div class="text-center" *ngIf="!playerService.player.currentTrack">
			<md-icon class="error-icon">
				filter_none
			</md-icon><br />
			<div class="error-text">
				Nothing is playing
			</div>
		</div>
	</div>

	<h3 class="sad-header">

		<span class="queue-title" *ngIf="!playerService.player.isRadio">
			Queue
		</span>
		<span class="queue-title" *ngIf="playerService.player.isRadio">
			Radio
		</span>

		<ng-container *ngIf="this.playerService.player.currentTrack">
			<button md-icon-button
				class="text-hint tiny-icon"
				mdTooltip="Enable Radio Mode"
				mdTooltipPosition="below"
				(click)="playerService.enableRadio()"
				style="margin-left: 8px;"
				*ngIf="!playerService.player.isRadio">
				<md-icon>radio</md-icon>
			</button>

			<button md-icon-button
				class="tiny-icon text-blue"
				mdTooltip="Disable Radio Mode"
				mdTooltipPosition="below"
				(click)="playerService.disableRadio()"
				style="margin-left: 8px;"
				*ngIf="playerService.player.isRadio">
				<md-icon>radio</md-icon>
			</button>
		</ng-container>

		<button md-icon-button
			class="text-hint tiny-icon"
			mdTooltip="Surprise me!"
			mdTooltipPosition="below"
			(click)="surpriseMe()"
			style="margin-left: 8px;"
			*ngIf="!playerService.player.isRadio">
			<md-icon>casino</md-icon>
		</button>
	</h3>

	<div *ngIf="!playerService.player.isRadio" style="height: 100%;">
		<div class="queue-list" *ngIf="playerService.player.queue.length">

			<div
				class="queue-item"
				*ngFor="let track of playerService.player.queue; let i = index"
				[style.backgroundColor]="playerService.player.queuePosition == i ? 'rgba(0, 0, 0, 0.13)' : null">

				<span style="float: left;" *ngIf="playerService.player.queuePosition == i">
					<md-icon
						class="player-control player-pause"
						 *ngIf="!playerService.player.audio.paused"
						(click)="playerService.player.pause()">
						pause
					</md-icon>
					<md-icon
						class="player-control player-play"
						 *ngIf="playerService.player.audio.paused"
						(click)="playerService.player.resume()" >
						play_arrow
					</md-icon>
				</span>

				<span style="float: left;" *ngIf="playerService.player.queuePosition != i">
					<md-icon
						class="player-control player-play"
						(click)="playerService.player.playPosition(i)" >
						play_arrow
					</md-icon>
				</span>

				<span class="queue-item-field">
					<span class="queue-item-field-text">
						{{i+1}}. {{ track.name }}
					</span>
					<span style="float: right; padding-top: 1px; color: rgba(255, 255, 255, 0.34);">
						{{track.lengthFormatted}}
					</span>
				</span>
			</div>
		</div>
		<div class="queue-list" *ngIf="playerService.player.queue.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				queue_music
			</md-icon><br />
			<div class="error-text">
				No music queued
			</div>
		</div>
	</div>

	<div class="text-center" *ngIf="playerService.player.isRadio">
		<bt-radio></bt-radio>
	</div>

</div>
