<div fxLayout='row' *ngIf="!userService.isLoggedIn()">
	<div fxFlex='30%' fxFlexOffset='35%'>
		<h2 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			Log in
		</h2>

		<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
			<md-input-container style="width: 100%;">
				<input mdInput placeholder="username" maxlength="16" formControlName="username" autofocus/>
			</md-input-container><br />
			<md-input-container style="width: 100%;">
				<input mdInput placeholder="password" maxlength="24" type="password" formControlName="password" />
			</md-input-container>

			<div>
				{{successMessage}}
			</div>

			<div class="warn" style="margin-bottom: 8px;">
				{{errorMessage}}
			</div>

			<div style="text-align: right;">
				<button md-raised-button type="submit" [disabled]="!loginForm.valid">
					Log in
				</button>
			</div>
		</form>
	</div>
</div>

<div fxLayout="row" *ngIf="userService.isLoggedIn()">
	<div fxFlex="30%" fxFlexOffset="35%">
		<h2 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			Logged in as {{username}}
		</h2>

		<div style="text-align: right;">
			<button md-raised-button (click)="userService.logout()">
				Log out
			</button>
		</div>
	</div>
</div>

<div fxLayout="row" *ngIf="userService.isLoggedIn()">
	<div fxFlex="30%" fxFlexOffset="35%">
		<h2 style="color: rgba(255, 255, 255, 0.54); text-transform: lowercase;">
			Change Password
		</h2>

		<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
			<md-input-container style="width: 100%;">
				<input mdInput placeholder="current password" maxlength="24" formControlName="currentPassword"/>
			</md-input-container><br />
			<md-input-container style="width: 100%;">
				<input mdInput placeholder="new password" maxlength="24" formControlName="newPassword"/>
			</md-input-container><br />
			<md-input-container style="width: 100%;">
				<input mdInput placeholder="new password (again)" maxlength="24" formControlName="newPasswordVerify"/>
			</md-input-container>

			<div>
				{{successMessage}}
			</div>

			<div class="warn" style="margin-bottom: 8px;">
				{{errorMessage}}
			</div>

			<div style="text-align: right;">
				<button md-raised-button type="submit" [disabled]="!passwordForm.valid">
					Save
				</button>
			</div>
		</form>
	</div>
</div>
