<div class="container" fxLayout="row">

	<!-- Artists -->
	<div class="item-column">
		<h3 class="item-column-header">
			Artists
		</h3>

		<!-- Loading -->
		<div class="text-center" *ngIf="loadingArtists">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- None found -->
		<div class="text-center" *ngIf="artists.length == 0">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No artists found
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="artists.length > 0">
			<md-list-item class="item-line-single" *ngFor="let artist of displayArtists" (click)="loadAlbums(artist)">
				<div md-line>{{artist.name}}</div>
			</md-list-item>
		</md-list>
	</div>

	<!-- Albums -->
	<div class="item-column">
		<h3 class="item-column-header">
			Albums
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingAlbums" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no albums -->
		<div *ngIf="albums.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="artistSelected">
				No albums found
			</div>
			<div class="error-text" *ngIf="!artistSelected">
				Choose an artist to see albums
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="albums.length > 0">
			<md-list-item class="item-line-image" *ngFor="let album of albums" (click)="loadTracks(album)">
				<span md-line class="item-body">
					<img src="{{album.imagePath}}"/>
					<em class="item-title text-primary">
						{{album.name}}
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{album.artist.name}}
						</div>

					</div>
				</span>
			</md-list-item>
		</md-list>
	</div>

	<!-- Tracks -->
	<div class="item-column">
		<h3 class="item-column-header">
			Tracks
			<span *ngIf="tracks.length > 0">
				<button md-icon-button
					class="tiny-icon"
					mdTooltip="Play album"
					mdTooltipPosition="below"
					(click)="playerService.enqueueAlbum(album)">
					<md-icon class="tiny-icon">
						play_arrow
					</md-icon>
				</button>
			</span>
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingTracks" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no tracks -->
		<div *ngIf="tracks.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="albumSelected">
				No tracks found
			</div>
			<div class="error-text" *ngIf="!albumSelected">
				Choose an album to see tracks
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="tracks.length > 0">
			<md-list-item class="item-line" *ngFor="let track of tracks">
				<div md-line class="item-text">
					<img src="{{track.album.imagePath}}" />
					<span class="item-subtitle" style="float: right; text-align: right;">
						{{track.lengthFormatted}}<br/>

						<button md-icon-button
							class="tiny-icon"
							mdTooltip="Play"
							mdTooltipPosition="below"
							(click)="playerService.player.playOne(track)">
							<md-icon class="tiny-icon">
								play_arrow
							</md-icon>
						</button>

						<button md-icon-button
							class="tiny-icon"
							mdTooltip="Queue"
							mdTooltipPosition="below"
							(click)="playerService.player.enqueueOne(track)">
							<md-icon class="tiny-icon">
								queue
							</md-icon>
						</button>
					</span>

					<span class="item-track" style="float: left;">
						<span class="item-track-title">
							{{track.trackNum}}. {{track.name}}
						</span><br />
						<span class="item-track-summary">
							Disc {{track.discNum}}
						</span>
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>
