<div class="container" fxLayout="row">

	<!-- Artists -->
	<div class="item-column">
		<h3 class="item-column-header">
			Artists
		</h3>

		<md-icon class="text-secondary" style="font-size: 32px; width: 32px; height: 32px; top: 8px; position: relative;">
			search
		</md-icon>
		<md-input-container class="text-secondary" style="width: calc(100% - 64px);">
			<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
		</md-input-container>

		<!-- Loading -->
		<div class="text-center" *ngIf="loadingArtists">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- None found -->
		<div class="text-center" *ngIf="artists.length == 0">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No artists found
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="artists.length > 0">
			<md-list-item class="item-line-single" *ngFor="let artist of displayArtists" (click)="loadAlbums(artist)">
				<div md-line>{{artist.name}}</div>
			</md-list-item>
		</md-list>
	</div>

	<!-- Albums -->
	<div class="item-column">
		<h3 class="item-column-header">
			Albums
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingAlbums" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no albums -->
		<div *ngIf="albums.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="artistSelected">
				No albums found
			</div>
			<div class="error-text" *ngIf="!artistSelected">
				Choose an artist to see albums
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="albums.length > 0">
			<md-list-item class="item-line-image" *ngFor="let album of albums">
				<span md-line class="item-body" (click)="loadTracks(album)">
					<img src="{{album.imagePath}}"/>
					<em class="item-title text-primary">
						{{album.name}}
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{album.artist.name}} &ndash; {{album.year}}
						</div>
					</div>
				</span>
				<div class="item-menu">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.playAlbum(album)">
							<md-icon>play_arrow</md-icon>
							<span>play album</span>
						</button>
						<button md-menu-item (click)="playerService.enqueueAlbum(album)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>
			</md-list-item>
		</md-list>
	</div>



	<!-- Tracks -->
	<div class="item-column">
		<h3 class="item-column-header">
			Tracks
		</h3>

		<!-- Loading -->
		<div class="text-center" *ngIf="loadingTracks">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no tracks -->
		<div class="text-center" *ngIf="albums.length == 0">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="albumSelected">
				No tracks found
			</div>
			<div class="error-text" *ngIf="!albumSelected">
				Choose an album to see tracks
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="tracks.length > 0">
			<md-list-item class="item-line-image" *ngFor="let track of tracks">
				<span md-line class="item-body" (click)="playerService.player.playOne(track)">
					<img src="{{album.imagePath}}"/>
					<em class="item-title text-primary">
						<span class="text-hint" style="margin-right: 5px; font-style: normal;">
							{{track.discNum}}-{{track.trackNum}}
						</span> {{track.name}}
					</em><br />
					<div class="item-subtitle">
						<div class="text-secondary">
							{{track.genre}} &ndash; {{track.lengthFormatted}}
						</div>
					</div>
				</span>
				<div class="item-menu">
					<md-menu #appMenu="mdMenu">
						<button md-menu-item (click)="playerService.player.playOne(track)">
							<md-icon>play_arrow</md-icon>
							<span>play track</span>
						</button>
						<button md-menu-item (click)="playerService.player.enqueueOne(track)">
							<md-icon>queue_music</md-icon>
							<span>add to queue</span>
						</button>
					</md-menu>
					<button md-icon-button [mdMenuTriggerFor]="appMenu">
						<md-icon>more_vert</md-icon>
					</button>
				</div>
			</md-list-item>
		</md-list>
	</div>

</div>
