<div fxLayout='row'>
	<div fxFlex="70%" fxFlexOffset="15%">
		<button md-icon-button style="width: 7%;">
			<md-icon>search</md-icon>
		</button>

		<md-input-container id="FilterArtists" class="filter-box-top">
			<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
		</md-input-container>
	</div>
</div>

<md-grid-list cols="5" *ngIf="displayArtists.length > 0">
	<md-grid-tile *ngFor="let artist of displayArtists" [ngStyle]="{'background-image': 'url(' + artist.imagePath + ')'}">
		<md-grid-tile-footer>
			<strong class="tile-name">
				{{artist.name}}
			</strong>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>

<div fxLayout='row' *ngIf="displayArtists.length == 0">
	<div fxFlex="70%" fxFlexOffset="15%" style="text-align: center;">
		<div *ngIf="filterQuery.length >= 3">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No artists found
			</div>
		</div>

		<div *ngIf="filterQuery.length < 3">
			<md-icon class="error-icon">
				search
			</md-icon><br />
			<div class="error-text">
				Type in the box to find artists
			</div>
		</div>

		<div class="error-hint-text">
			Type an asterisk (*) to see all
		</div>
	</div>
</div>
