.item-line
{
	overflow: hidden;
	padding: 5px;
}

.item-line:hover
{
	background-color: rgba(40, 40, 40, 0.87);
	cursor: pointer;
}

.item-line img
{
	float: left;
	height: 48px;
	margin-right: 10px;
	width: 48px;
}

.item-line .item-text
{
	display: block;
	line-height: 24px;
	margin-top: 0;
	white-space: normal;
}

.item-line .item-text-single
{
	display: block;
	line-height: 24px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.item-line .item-text-single.item-text-description
{
	color: rgba(255, 255, 255, 0.34);
}



.item-column
{
	 padding: 16px;
	 width: 33%;
}

.item-column-header
{
	color: rgba(255, 255, 255, 0.54);
	text-transform: lowercase;
}

.item-column-body
{
	height: calc(100% - 73px);
	max-height: 100%;
	overflow-y: auto;
}

.item-column-body-image
{
	display: inline-block;
	float: left;
	object-fit: cover;
}




.item-track
{
	color: rgba(255, 255, 255, 0.87);
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}

.item-track-title
{
	color: rgba(255, 255, 255, 0.87);
	display: inline-block;
	white-space: nowrap;
}

.item-track-subtitle
{
	color: rgba(255, 255, 255, 0.36);
	float: right;
}

.item-track-summary
{
	color: rgba(255, 255, 255, 0.54);
}
