<div fxLayout="row" style="height: calc(100% - 64px); box-sizing: border-box;">

	<!-- Artists -->
	<div class="item-column">
		<h3 class="item-column-header">
			Artists
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingArtists" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- None found -->
		<div *ngIf="artists.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No artists found
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="artists.length > 0">
			<md-list-item class="item-line" *ngFor="let artist of artists" (click)="loadAlbums(artist)">
				<div md-line>
					<img src="{{artist.imagePath}}" style="display: inline-block; object-fit: cover;"/>
					<span class="item-text">
						{{artist.name}}
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>

	<!-- Albums -->
	<div class="item-column">
		<h3 class="item-column-header">
			Albums
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingAlbums" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no albums -->
		<div *ngIf="albums.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="artistSelected">
				No albums found
			</div>
			<div class="error-text" *ngIf="!artistSelected">
				Choose an artist to see albums
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="albums.length > 0">
			<md-list-item class="item-line" *ngFor="let album of albums" (click)="loadTracks(album)">
				<span md-line class="item-text">
					<img src="{{album.imagePath}}" class="item-text"/>
					<span class="item-track-subtitle">
						{{album.year}}
					</span>

					<span class="item-track" style="float: left">
						<em class="item-track-title">
							{{album.name}}
						</em><br />
						<span class="item-track-summary">
							{{album.artist.name}}
						</span>
					</span>
				</span>
			</md-list-item>
		</md-list>
	</div>

	<!-- Tracks -->
	<div class="item-column">
		<h3 class="item-column-header">
			Tracks
		</h3>

		<!-- Loading -->
		<div *ngIf="loadingTracks" style="text-align: center;">
			<md-progress-spinner mode="indeterminate"></md-progress-spinner>
		</div>

		<!-- Display when there are no tracks -->
		<div *ngIf="tracks.length == 0" style="text-align: center;">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text" *ngIf="albumSelected">
				No tracks found
			</div>
			<div class="error-text" *ngIf="!albumSelected">
				Choose an album to see tracks
			</div>
		</div>

		<!-- List -->
		<md-list class="item-column-body" *ngIf="tracks.length > 0">
			<md-list-item class="item-line" *ngFor="let track of tracks" (click)="playerService.player.playOne(track)">
				<div md-line class="item-text">
					<img class="item-text" src="{{track.album.imagePath}}" />
					<span class="item-subtitle">
						{{track.lengthFormatted}}
					</span>

					<span class="item-track" style="float: left;">
						<span class="item-track-title">
							{{track.trackNum}}. {{track.name}}
						</span><br />
						<span class="item-track-summary">
							Disc {{track.discNum}}
						</span>
					</span>
				</div>
			</md-list-item>
		</md-list>
	</div>
</div>



<!-- <md-grid-list cols="4" rowHeight="256" *ngIf="artists.length > 0">
	<md-grid-tile *ngFor="let artist of artists" [ngStyle]="{'background-image': 'url(' + artist.imagePath + ')'}">
		<md-grid-tile-footer>
			<strong class="tile-name">
				{{artist.name}}
			</strong>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list> -->
