<md-toolbar>
	<button md-button [routerLink]="['/browse']" routerLinkActive="active">
		<h3>Library</h3>
	</button>
	<button md-button disabled>
		<h3>Relax</h3>
	</button>
	<button md-button [routerLink]="['/jukebox']" routerLinkActive="active">
		<h3>Chat</h3>
	</button>
	<button md-button [routerLink]="['/dashboard']" routerLinkActive="active">
		<h3>Social</h3>
	</button>
	<button md-button [routerLink]="['/profile']" routerLinkActive="active">
		<h3 *ngIf="userService.isLoggedIn()">Profile</h3>
		<h3 *ngIf="!userService.isLoggedIn()">Login</h3>
	</button>
	<button md-button [routerLink]="['/search']" routerLinkActive="active" style="width: 4%">
		<md-icon>search</md-icon>
	</button>
</md-toolbar>

<div id="Container">
	<router-outlet></router-outlet>
</div>

<bt-player></bt-player>
