#PageContent {
	padding: 50px;
}

md-toolbar {
	background-color: rgb(40, 40, 40);
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.12);
	margin: 0px;
	padding: 0px;
}

[md-button] {
	text-transform: lowercase;
}

md-toolbar [md-button] {
	color: rgba(255, 255, 255, 0.54);
	height: 100%;
	padding: 16px 32px;
	width: 19%;
}

md-toolbar [md-button].active {
	border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

md-sidenav-container {
	background-color: rgb(27, 27, 27);
	height: 100%;
}

md-sidenav {
	padding: 8px;
	width: 256px;
}

md-sidenav button {
	display: inline-block;
	text-align: left;
	width: 100%;
}

md-sidenav button md-icon {
	margin-right: 6px;
}
