<md-toolbar>

	<!-- Queue button -->
	<ng-container *ngIf="playerService.player.visible">
		<button md-button
			style="width: 4%"
			*ngIf="!playerService.player.queueOpen"
			(click)="playerService.player.openQueue()">
			<md-icon>queue_music</md-icon>
		</button>

		<button md-button
			style="width: 4%"
			*ngIf="playerService.player.queueOpen"
			(click)="playerService.player.closeQueue()">
			<md-icon>queue_music</md-icon>
		</button>
	</ng-container>

	<ng-container *ngIf="!playerService.player.visible">
		<button md-button
			style="width: 4%; cursor: not-allowed;"
			(click)="playerService.player.closeQueue()"
			mdTooltip="Can't open queue while in chat"
			mdTooltipPosition="right">
			<md-icon>queue_music</md-icon>
		</button>
	</ng-container>


	<!-- Toolbar -->
	<button md-button [routerLink]="['/browse']" routerLinkActive="active">
		<h3>Library</h3>
	</button>
	<button md-button [routerLink]="['/dashboard']" routerLinkActive="active">
		<h3>What's new</h3>
	</button>
	<button md-button [routerLink]="['/genres']" routerLinkActive="active">
		<h3>Genres</h3>
	</button>
	<button md-button [routerLink]="['/search']" routerLinkActive="active">
		<h3>Search</h3>
	</button>
	<!-- <button md-button [routerLink]="['/profile']" routerLinkActive="active">
		<h3 *ngIf="userService.isLoggedIn()">Profile</h3>
		<h3 *ngIf="!userService.isLoggedIn()">Login</h3>
	</button> -->
</md-toolbar>

<div id="Container">
	<router-outlet></router-outlet>
</div>

<bt-player></bt-player>
