<md-input-container id="FilterAlbums" class="filter-box-top">
	<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
</md-input-container>

<md-grid-list cols="8" *ngIf="displayAlbums.length > 0" style="position: relative; top: -2em;">
	<md-grid-tile
		*ngFor="let album of displayAlbums"
		[ngStyle]="{'background-image': 'url(' + album.imagePath + ')'}"
		(click)="playerService.enqueueAlbum(album)">
		<md-grid-tile-footer>
			<span style="width: 100%;">
				<em class="tile-name">
					{{album.name}}
				</em><br />
				<span class="album-artist">
					{{album.artist.name}}
				</span>
			</span>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>

<div fxLayout='row' *ngIf="displayAlbums.length == 0">
	<div fxFlex="70%" fxFlexOffset="15%" style="text-align: center;">
		<div *ngIf="filterQuery.length >= 3">
			<md-icon class="error-icon">
				error_outline
			</md-icon><br />
			<div class="error-text">
				No albums found
			</div>
		</div>

		<div *ngIf="filterQuery.length < 3">
			<md-icon class="error-icon">
				search
			</md-icon><br />
			<div class="error-text">
				Type in the box to find albums
			</div>
		</div>
	</div>
</div>
