<div id="AlbumsToolbar">
	<!--Search -->
	<button md-icon-button>
		<md-icon>search</md-icon>
	</button>

	<md-input-container id="FilterAlbums">
		<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" />
	</md-input-container>

	<!-- Controls -->
	<button md-icon-button (click)="zoomIn()">
		<md-icon>zoom_in</md-icon>
	</button>
	<button md-icon-button (click)="zoomOut()">
		<md-icon>zoom_out</md-icon>
	</button>
</div>

<md-grid-list cols="{{zoomLevels[zoomIndex].scale}}" rowHeight="{{zoomLevels[zoomIndex].height}}">
	<md-grid-tile *ngFor="let album of displayAlbums" [ngStyle]="{'background-image': 'url(' + album.imagePath + ')'}">
		<md-grid-tile-footer>
			<span>
				<em style="display: inline-block; margin-bottom: 2px; font-weight: bold;">
					{{album.name}}
				</em><br />
				<span style="font-size: 12px;">
					{{album.artist.name}}
				</span>
			</span>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>
