<div id="AlbumsToolbar" *ngIf="screenWidth > 1000">
	<!--Search -->
	<button md-icon-button>
		<md-icon>search</md-icon>
	</button>

	<md-input-container id="FilterAlbums">
		<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" />
	</md-input-container>

	<!-- Controls -->
	<button md-icon-button (click)="zoomIn()">
		<md-icon>zoom_in</md-icon>
	</button>
	<button md-icon-button (click)="zoomOut()">
		<md-icon>zoom_out</md-icon>
	</button>
</div>

<md-grid-list cols="{{zoomLevels[zoomIndex].scale}}">
	<md-grid-tile
		*ngFor="let album of displayAlbums"
		[ngStyle]="{'background-image': 'url(' + album.imagePath + ')'}"
		(click)="playerService.player.enqueueAlbum(album)">
		<md-grid-tile-footer>
			<span style="width: 100%;">
				<em class="album-name">
					{{album.name}}
				</em><br />
				<span class="album-artist">
					{{album.artist.name}}
				</span>
			</span>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>
