<md-input-container id="Filter" class="filter-box-top">
	<input mdInput maxlength="32" type="text" [(ngModel)]="filterString" autofocus/>
</md-input-container>

<div fxLayout='row' *ngIf='filterQuery.length < 3'>
	<div fxFlex='98%' fxFlexOffset="2%" style="text-align: center;">
		<md-icon class="error-icon">
			search
		</md-icon><br />
		<div class="error-text">
			Start your search by typing above
		</div>
	</div>
</div>

<div fxLayout='row' *ngIf='filterQuery.length >= 3'>
	<div fxFlex='98%' fxFlexOffset="2%">
		<div fxFlex='33%'>
			<h2 style="color: rgba(255, 255, 255, 0.34);">
				Artists
			</h2>
			<div *ngIf="artistsLoading">
				<md-progress-spinner mode="indeterminate"></md-progress-spinner>
			</div>
			<div *ngIf="!artistsLoading">
				<div *ngIf="artists.length > 0">
					<md-list>
						<md-list-item class="item-line" *ngFor="let artist of artists">
							<div md-line style="padding: 0px;">
								<img src="{{artist.imagePath}}"/>
								<span class="item-text">
									{{artist.name}}
								</span>
							</div>
						</md-list-item>
					</md-list>
				</div>
				<div *ngIf="artists.length == 0" style="text-align: center;">
					<md-icon class="error-icon">
						not_interested
					</md-icon><br />
					<div class="error-text">
						No artists found
					</div>
				</div>
			</div>
		</div>
		<div fxFlex='33%'>
			<h2 style="color: rgba(255, 255, 255, 0.34);">
				Albums
			</h2>
			<div *ngIf="albumsLoading">
				<md-progress-spinner mode="indeterminate"></md-progress-spinner>
			</div>
			<div *ngIf="!albumsLoading">
				<div *ngIf="albums.length > 0">
					<md-list>
						<md-list-item
							class="item-line"
							*ngFor="let album of albums"
							(click)="playerService.enqueueAlbum(album)">
							<div md-line style="padding: 0px;">
								<img src="{{album.imagePath}}"/>
								<span class="item-text-single">
									{{album.name}}
								</span>
								<span class="item-text-single item-text-description">
									{{album.artist.name}}, {{album.year}}
								</span>
							</div>
						</md-list-item>
					</md-list>
				</div>
				<div *ngIf="albums.length == 0" style="text-align: center;">
					<md-icon class="error-icon">
						not_interested
					</md-icon><br />
					<div class="error-text">
						No albums found
					</div>
				</div>
			</div>
		</div>
		<div fxFlex='33%'>
			<h2 style="color: rgba(255, 255, 255, 0.34);">
				Tracks
			</h2>
			<div *ngIf="tracksLoading">
				<md-progress-spinner mode="indeterminate"></md-progress-spinner>
			</div>
			<div *ngIf="!tracksLoading">
				<div *ngIf="tracks.length > 0">
					<md-list>
						<md-list-item
							class="item-line"
							*ngFor="let track of tracks"
							(click)="playerService.player.playOne(track)">
							<div md-line>
								<img src="{{track.album.imagePath}}" />
								<span class="item-text-single">
									{{track.name}}
								</span>
								<span class="item-text-single item-text-description">
									{{track.album.artist.name}}
								</span>
							</div>
						</md-list-item>
					</md-list>
				</div>
				<div *ngIf="tracks.length == 0" style="text-align: center;">
					<md-icon class="error-icon">
						not_interested
					</md-icon><br />
					<div class="error-text">
						No tracks found
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
